<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Toilet Map</title>
    <script
            th:src="'https://dapi.kakao.com/v2/maps/sdk.js'
               + '?appkey=' + ${kakaoApiKey}
               + '&libraries=services&autoload=false'">
    </script>
</head>
<body>
<div id="map" style="width:100%; height:100vh;"></div>

<script th:inline="javascript">
    kakao.maps.load(function() {
      // 1) 지도 생성
      var map = new kakao.maps.Map(
        document.getElementById('map'),
        { center: new kakao.maps.LatLng(37.566826, 126.9786567), level: 3 }
      );

      // 2) 위치 변화 감지 → 마커 없이 지도 중심만 이동
      if (navigator.geolocation) {
        navigator.geolocation.watchPosition(function(pos) {
          var latlng = new kakao.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
          map.setCenter(latlng);
        }, function(error) {
          console.error('Geolocation error:', error);
        }, {
          enableHighAccuracy: true,
          maximumAge: 30000,
          timeout: 27000
        });
      } else {
        // Geolocation 미지원 시 기본 위치로만 센터 이동
        map.setCenter(new kakao.maps.LatLng(37.566826, 126.9786567));
      }

      // 3) 화장실 마커 찍기
      fetch('/toilets')
        .then(res => res.json())
        .then(toilets => {
          var imageSrc  = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png",
              imageSize = new kakao.maps.Size(64, 69),
              imageOpt  = { offset: new kakao.maps.Point(27, 69) },
              markerImg = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOpt);

          toilets.forEach(function(t) {
            var pos = new kakao.maps.LatLng(t.coordY, t.coordX);
            new kakao.maps.Marker({ position: pos, image: markerImg, map: map });
          });
        });
    });
</script>
</body>
</html>
